body {
    background-color: rgba(40, 50, 80, 1);
}

p, h1, h2, h3, summary {
    font-family: Arial;
    color: rgba(255, 255, 255, 1);
}

summary {
    font-size: 22px;
}

summary:focus{
    outline: none; 
}

a {
    color: rgba(46, 184, 223, 1);
}





.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit,  300px    ) ;

  padding: 5px;
}
.grid-item {

  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 5px;
  text-align: center;
  aspect-ratio: 1;
}
.project-img {
    width: 280px;
}
